canvas{
    position:absolute;
    left:-1px;
    top:-1px;

    /*for 90 deg rotation */
  /*  transform: rotate(90deg);*/
}



body{
  background:black;
}

#draggable {
  width: 150px;
  padding: 20px;
  background: transparent;
  font-family: "helvetica";
  line-height: 1px;
  font-weight: 900;
  font-size: 50px;
  color: white;
  visibility:hidden;

   /* for 90 def rotation
  transform: rotate(90deg) scale(0.4,0.4);
  */
}


#draggable #one{
  font-size: 46px;
  margin-bottom:50px;
}

#draggable #two{
  font-size: 77px;
  margin-top: 0px;
}

#draggable #three{
  font-size: 50px;
  margin-top: -25px;
}

#draggable #four{
  font-size: 19px;
}
